<% slice_page = current_user&.slice_pages&.find_by(novel_id: novel.id) %>
<% if slice_page && slice_page.url != request.url %>
  <div class="icons color-white">
    <i class="fa fa-bookmark" style="color: white;"></i><%= link_to "しおりを挟む", public_slice_page_path(slice_page, url: request.url), method: :patch %>
  </div>
<% elsif slice_page %>
  <div class="icons color-pink">
    <i class="fa fa-bookmark" style="color: pink;"></i><%= link_to "しおりを削除", public_slice_page_path(slice_page), method: :delete %>
  </div>
<% else %>
  <div class="icons color-blue">
    <i class="fa fa-bookmark" style="color: b"></i><%= link_to "しおりを挟む", public_slice_pages_path(url: request.url, novel_id: novel.id), method: :post %>
  </div>
<% end %>