<p id="notice"></p>
 <div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <div class="text-center">
       <h1>welcome to <i class="fas fa-book"></i><!-- <i class="fas fa-book"></i> Font Awesome fontawesome.com --><strong>Novels</strong>  !!</h1>
       <p>このサイトを使って、長編小説の投稿・閲覧ができます！</p>
       <p>いいね！やコメントを使って投稿者を応援しましょう！</p>
       <p>シリーズの順番を手軽に変えられるので、</p>
       <p>途中からでも大丈夫！</p>
       <p>思い立ったらすぐに書いてみましょう！</p>
      </div>
    </div>
  </div>