<h2>検索結果 "<%= @keyword %>"</h2>
  <ul>
    <% @novels.each do |novel| %>
      <li>
        <%= link_to public_novel_path(novel.id) do %>
         <%= novel.title %>
        <% end %><br>
         <%= novel.keyword_part(@keyword) %>


      </li>
    <% end %>
  </ul>



