<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-8 offset-md-1">
      <h2>いいねした投稿一覧</h2>

      <table class="table table-hover table-inverse">
       <thead>
        <tr>
         <th class="pl-5">ユーザー名</th>
         <th>いいね数</th>
         <th>タイトル</th>

         <th>しおり</th>
        </tr>
       </thead>
        <%= render partial: "public/novels/novel", collection: @favorite_novels %>
      </table>

      <%#= paginate @favorite_novels %>

    </div>
  </div>
</div>


